@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-padding-top: 69px;
}

body{
  background-image: url("../public/page_bg_lq.jpg");

  /* Add the blur effect */
  backdrop-filter: blur(5px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.flip{
  transform: rotate(-180deg);
  transition: transform 0.2s;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glass-sm{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.37);
}

@keyframes slideUp {
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Final position */
  }
}

.recipe-container{
  animation: slideUp 1.5s cubic-bezier(0.165, 0.84, 0.44, 1)
}